apiVersion: "logging.openshift.io/v1"
kind: "ClusterLogging"
metadata:
  name: "instance" 
  namespace: "openshift-logging"
spec:
  managementState: "Managed"  
  logStore:
    type: "elasticsearch"  
    retentionPolicy: 
      application:
        maxAge: {{ elaticsearch_maxage_application }}
      infra:
        maxAge: {{ elaticsearch_maxage_infra }}
      audit:
        maxAge: {{ elaticsearch_maxage_audit }}
    elasticsearch:
      nodeCount: {{ elasticsearch_node_count }} 
      nodeSelector:
        node-role.kubernetes.io/{{ infra_id }}: ""
      storage:
        storageClassName: {{ cluster_storage_class }} 
        size: {{ elasticsearch_pv_size }}
        resources: 
          requests:
            memory: {{ elasticsearch_memory }}
        proxy: 
          limits:
            memory: {{ elasticsearch_proxy_memory_limit }}
          requests:
             memory: {{ elasticsearch_proxy_memory_request }}
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/worker
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/{{ infra_id }}
        operator: Exists
      redundancyPolicy: "SingleRedundancy"
  visualization:
    type: "kibana"  
    kibana:
      nodeSelector:
        node-role.kubernetes.io/{{ infra_id }}: ""
      replicas: 1
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/worker
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/{{ infra_id }}
        operator: Exists
  curation:
    type: "curator"  
    curator:
      nodeSelector:
        node-role.kubernetes.io/{{ infra_id }}: ""
      schedule: "30 3 * * *"
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/worker
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/{{ infra_id }}
        operator: Exists
  collection:
    logs:
      type: "fluentd"  
      fluentd: {}
